<div class="ml-4 mt-4">

<h2> <%= @restaurant.name %> </h2>
<ul>
  <li><%= @restaurant.address %> </li>
  <li><%= @restaurant.phone_number %> </li>
  <li><%= @restaurant.category %> </li>
</ul>

<ul> All reviews
  <% @restaurant.reviews.each do |element| %>
  <li><%= element.content %>
      <%= element.rating %></li>
  <% end %>
</ul>

<%= link_to "All restaurants", '/restaurants' %>
<br>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

</div>
